* {
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
    padding: 20px;
}

.header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#brightness {
    width: 550px;
    height: 300px;
}

#secondRow {
    margin-left: 43%;
    margin-top: -250px;
}

.tempValue {
    margin-left: 30px;
}

#temperature {
    height: 190px;
    width: 350px;
    margin-left: 6%;
}

#tempIcon {
    margin-left: 20%;
}

#tempBody {
    margin-left: 25%;
}

#humidity {
    height: 190px;
    width: 350px;
    margin-left: 6%;
}

#humIcon {
    margin-left: 25%;
}

#humBody {
    margin-left: 40%;
}

#oxygen {
    height: 190px;
    width: 350px;
    margin-left: 6%;
}

#oxIcon {
    margin-left: 20%;
}

#oxBody {
    margin-left: 40%;
}

#people {
    height: 190px;
    width: 350px;
    margin-left: 10%;
}

#persIcon {
    margin-left: 27%;
}

#persBody {
    margin-left: 30%;
}

img {
    height: 45px;
    display: inline-block;

}

#brightIcon {
    margin-left: 29%;
}

h2 {
    display: inline-block;
}

.container_header {
    white-space: nowrap;
    overflow-x: auto;
    text-align: end;
}

